{% load static %}

<!-- ##### Preloader ##### -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="circle-preloader">
        <img src="{% static 'img/core-img/logo.png' %}" alt="" width="180">
        <div class="foode-preloader">
            <span></span>
        </div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Search Form -->
                        <div class="search-form">
                            <form action="#" method="get">
                                <input type="search" name="search" class="form-control" placeholder="Поиск...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!-- Social Button -->
                        <div class="top-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  Area -->
    <div class="logo-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Nav brand -->
                    <a href="{% url 'main' %}" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt="" width="180"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="foode-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar" id="foodeNav">

                    <!-- Nav brand -->
                    <a href="{% url 'main' %}" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt="" width="160"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'main' %}">Главная</a></li>
                                <!-- <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="archive-blog.html">Archive Blog</a></li>
                                        <li><a href="single-post.html">Single Post</a></li>
                                        <li><a href="about-us.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="typography.html">Typography</a></li>
                                    </ul>
                                </li> -->
                                <!-- <li><a href="#">Catagories</a>
                                    <div class="megamenu">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">- Features</a></li>
                                            <li><a href="#">- Food</a></li>
                                            <li><a href="#">- Travel</a></li>
                                            <li><a href="#">- Recipe</a></li>
                                            <li><a href="#">- Bread</a></li>
                                            <li><a href="#">- Breakfast</a></li>
                                            <li><a href="#">- Meat</a></li>
                                            <li><a href="#">- Fastfood</a></li>
                                            <li><a href="#">- Salad</a></li>
                                            <li><a href="#">- Soup</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">- Features</a></li>
                                            <li><a href="#">- Food</a></li>
                                            <li><a href="#">- Travel</a></li>
                                            <li><a href="#">- Recipe</a></li>
                                            <li><a href="#">- Bread</a></li>
                                            <li><a href="#">- Breakfast</a></li>
                                            <li><a href="#">- Meat</a></li>
                                            <li><a href="#">- Fastfood</a></li>
                                            <li><a href="#">- Salad</a></li>
                                            <li><a href="#">- Soup</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">- Features</a></li>
                                            <li><a href="#">- Food</a></li>
                                            <li><a href="#">- Travel</a></li>
                                            <li><a href="#">- Recipe</a></li>
                                            <li><a href="#">- Bread</a></li>
                                            <li><a href="#">- Breakfast</a></li>
                                            <li><a href="#">- Meat</a></li>
                                            <li><a href="#">- Fastfood</a></li>
                                            <li><a href="#">- Salad</a></li>
                                            <li><a href="#">- Soup</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">- Features</a></li>
                                            <li><a href="#">- Food</a></li>
                                            <li><a href="#">- Travel</a></li>
                                            <li><a href="#">- Recipe</a></li>
                                            <li><a href="#">- Bread</a></li>
                                            <li><a href="#">- Breakfast</a></li>
                                            <li><a href="#">- Meat</a></li>
                                            <li><a href="#">- Fastfood</a></li>
                                            <li><a href="#">- Salad</a></li>
                                            <li><a href="#">- Soup</a></li>
                                        </ul>
                                    </div>
                                </li> -->
                                <li><a href="{% url 'all_category_detail' %}">Заведения</a></li>
                                <li><a href="#">Поставщики</a></li>
                                <li><a href="contact.html">Контакты</a></li>
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
