{% extends 'index.html' %}
{% load static %}

{% block title %}
    GidHalal - {% if category.title %} {{ category.title }} {% else %} Все категории {% endif %}
{% endblock %}
{% block content %}
<!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-100">
    <div class="container">


        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="single-widget-area">
                    {% for item in restaurants %}
                        <div class="single-latest-post d-flex">
                            <div class="post-thumb">
                                <img src="{% if item.image %}
                                              {{ item.image.url }}
                                          {% else %}
                                              {% static 'img/no_image.jpg' %}
                                          {% endif %}" alt="">
                            </div>
                            <div class="post-content">
                                <a href="{{ item.get_absolute_url }}" class="post-title">
                                    <h6>{{ item.title }}</h6>
                                </a>
                                <p style="margin-top:-15px;">{{ item.category.title }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">
                    <!-- ##### Single Widget Area ##### -->
                    {% if category.title %}
                        <div class="single-widget-area">
                            <h3>Категория "{{ category.title }}"</h3>
                        </div>
                    {% endif %}
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Категории заведений</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            {% for item in categories %}
                                <li><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Content Area End ##### -->

{% endblock %}
