{% extends 'index.html'%}
{% load static %}
{% block title %}
    ESSK - Доставка
{% endblock %}

{% block content %}
    <style media="screen">
        .contents ul, ul li {
            list-style: unset !important;
            padding: 0;
            margin: 0;
        }
    </style>
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="bread-inner">
              <ul class="bread-list">
                <li><a href="{% url 'main' %}">Главная<i class="ti-arrow-right"></i></a></li>
                <li class="active"><a href="#">Доставка</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contents container mt-5 mb-5">
      <h1>Доставка</h1>

      <br>
      <h5>Методы доставки</h5>

      <ul class="ml-3">
          <li>Самовывоз</li>
          <li>Курьерская доставка по г. Атырау</li>
          <li>Почтовая доставка в любой город Казахстана</li>
      </ul>

      <br>
      <h5>САМОВЫВОЗ</h5>

      <p><br />
      Вы можете самостоятельно забрать товар по адресу:<br />
      <u>Республика Казахстан, г.Атырау,&nbsp;улица Ермеккали Бигалиев, 9а</u></p>
      <br>
      <h5>КУРЬЕРСКАЯ ДОСТАВКА ПО Г. АТЫРАУ</h5>
      <p><br />
      Курьерская доставка осуществляется бесплатно нашим курьером, при заказе от 50 000 тг,<br />
      по г. Атырау в рабочие дни: Пн.- Пт.: с 9:00 до 18:00;<br />
      Доставка осуществляется в течении 2-х рабочих дней.<br />
      Для получения оплаченного заказа необходимо предъявить курьеру любой документ, удостоверяющий личность получателя для физических лиц и оригинал доверенности для юридических.</p>
      <br>
      <h5>ПОЧТОВАЯ ДОСТАВКА В ЛЮБОЙ ГОРОД КАЗАХСТАНА</h5>

      <p><br />
      Обычно время доставки почтой стандартного отправления по Казахстану составляет от 5 до 20 дней, однако в некоторых случаях почта может доставлять заказ дольше.<br />
      <br />
      Возможна экспресс доставка по принципу &laquo;из рук в руки&raquo;. Сроки доставки экспресс почтой составляет от 2 до 7 рабочих дней в зависимости от отдаленности региона.<br />
      <br />
      Стоимость доставки зависит от веса заказа, упаковки и действующих тарифов. Дополнительных наценок наш интернет-магазин в цену доставки не включает.</p>

    </div>
{% endblock %}
