{% extends 'index.html'%}
{% load static %}
{% block title %}
    ESSK - Способы оплаты
{% endblock %}

{% block content %}
    <style media="screen">
        .contents ul, ul li {
            list-style: unset !important;
            padding: 0;
            margin: 0;
        }
    </style>
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="bread-inner">
              <ul class="bread-list">
                <li><a href="{% url 'main' %}">Главная<i class="ti-arrow-right"></i></a></li>
                <li class="active"><a href="#">Способы оплаты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contents container mt-5 mb-5">
      <h1>Способы оплаты</h1>

      <p>ВЫ МОЖЕТЕ ОПЛАТИТЬ ВАШ ЗАКАЗ ЛЮБЫМ УДОБНЫМ ДЛЯ ВАС СПОСОБОМ!</p>
      <br>
      <p>Способы оплаты:</p>

      <ul class="ml-3">
          <li>Банковский перевод (для юридических лиц)</li>
          <li>Наличным/безналичным расчетом в офисе компании</li>
          <li>Наличными курьеру</li>
      </ul>
      <br>

      <h4>Наличными расчет курьеру или в магазине</h4>

      <p><br />
      Оплатить товар и услуги доставки вы можете сотруднику службы доставки при получении товара.<br />
      <br />
      Оплата принимается только в тенге.<br />
      <br />
      Необходимые документы сотрудник вручит вам вместе с заказом. Кассовый чек выбивается при оплате на каждый товар.</p>

      <br />
      <h4>Банковский перевод (только для юридических лиц)</h4>

      <p><br />
      Оплата производится через отделение банков по выставленному счету (поступление суммы в течение 2-3 х банковских дней).<br />
      <br />
      Для совершения перевода вам возможно понадобится открыть счет в выбранном вами банке, при себе необходимо иметь удостоверение личности.</p>

    </div>
{% endblock %}
