{% extends 'index.html'%}
{% load static %}
{% block title %}
    ESSK - Гарантия
{% endblock %}

{% block content %}
    <style media="screen">
        .contents ul, ul li {
            list-style: unset !important;
            padding: 0;
            margin: 0;
        }
    </style>
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="bread-inner">
              <ul class="bread-list">
                <li><a href="{% url 'main' %}">Главная<i class="ti-arrow-right"></i></a></li>
                <li class="active"><a href="#">Гарантия</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contents container mt-5 mb-5">
        <h2>Гарантия</h2>

        <br>

        <p>Условия гарантии<br>
        <br>
        Изделия, которые, по мнению Покупателя, требуют гарантийного обслуживания, доставляются Покупателем за свой счет в сервисный центр Продавца.<br>
        <br>
        Для получения гарантийного обслуживания оборудования Покупатель обязан предоставить его полный комплект поставки (документацию, драйверы, транспортную упаковку и т.д).<br>
        <br>
        1. Покупатель при предъявлении настоящего гарантийного талона имеет право на безвозмездный ремонт, приобретенного у<br>
        Продавца товара в течение срока гарантии, если недостатки, дефекты товара (оборудования, комплектующих) не вызваны<br>
        нарушением Покупателем правил использования, эксплуатации, хранения или транспортировки товара, действиями третьих лиц или непреодолимой силы.<br>
        <br>
        2. За исключением условий, указанных выше, Продавец не предоставляет никаких других гарантий, четко выраженных или<br>
        подразумеваемых Покупателем, в том числе гарантий совместимости с другим оборудованием или программным обеспечением<br>
        Покупателя и гарантий пригодности для конкретной цели. Продавец не гарантирует, что приобретаемые Покупателем изделия<br>
        отвечают его требованиям и ожиданиям. Ответственность за выбор при покупке оборудования без услуг по их подбору и установки ложится только на Покупателя.<br>
        <br>
        3. Гарантийный талон является единственным документом, дающим право на гарантийное обслуживания изделия. В случае<br>
        утери гарантийный талон не восстанавливается.<br>
        <br>
        4. Гарантийный ремонт осуществляется только в случае выявления брака завода-изготовителя и проводится в течение 10 дней<br>
        при наличии необходимых комплектующих, но не более двух месяцев.<br>
        <br>
        5. Товар не подлежит гарантийному ремонту включая, но не ограничиваясь в случаях:<br>
        5.1. отсутствия данного гарантийного талона (а также паспорта на изделие) или подписи сторон на нем;<br>
        5.2. наличия исправлений или помарок в гарантийном талоне, повреждений или следов переклеивания гарантийных наклеек,<br>
        наличие посторонних стикеров и наклеек на устройствах, несоответствие серийного номера изделия номеру, указанному на<br>
        гарантийном талоне;<br>
        5.3. несоблюдения, нарушения требований по настройке, использованию, эксплуатации, хранению, обслуживанию или<br>
        транспортировки изделия;<br>
        5.4. наличия механических повреждений (внешних и внутренних);<br>
        5.5. небрежного обращения с оборудованием;<br>
        5.6. использования оборудования не по назначению;<br>
        5.7. неисправностей, вызванных попаданием внутрь посторонних предметов (насекомых, жидкостей, пыли и проч.);<br>
        5.8. при отсутствии упаковки, документации к изделию, а также его некомплектности;<br>
        5.9. при установлении попытки ремонта (вскрытия) изделия или модификации (включая обновление программного обеспечения)<br>
        лицами, не уполномоченными на это Продавцом;<br>
        5.10. воздействие случайных или преднамеренных внешних факторов, включая механические, электрические, электромагнитные<br>
        или иные воздействия<br>
        5.11. воздействия факторов окружающей среды (температура, влажность, вибрация, атмосферные осадки и др.) которые по своим параметрам выходят за рамки ограничений, заявленных производителем.<br>
        5.12. воздействие непреодолимой силы (пожар, наводнение, землетрясение, разряд молнии, аварийный скачок напряжения в сети энергоснабжения, ветер, взрыв, электромагнитный импульс и др.)<br>
        5.13. наличия химических, электрохимических, электростатических, экстремальных термических повреждений, в том числе<br>
        термических повреждений стикеров на устройствах;<br>
        5.14. наличия повреждений, вызванных несоответствием государственным стандартам питающих, коммуникационных, кабельных сетей;<br>
        5.15. в случае попадания во внешние цепи питания, видеосигнала, управления - постороннего напряжения превышающего<br>
        номинальное значение<br>
        5.16. при повреждениях, вызванных использованием расходных материалов, комплектующих и запасных частей, не<br>
        рекомендованных к использованию фирмой-производителем;<br>
        5.17. наличия повреждений, вызванных установкой компонентов, несоответствующих техническим требованиям производителя.<br>
        <br>
        <br>
        Условия, не входящие в гарантийные обязательства:<br>
        <br>
        1. Ущерб, причиненный другому оборудованию, работающему в сопряжении с данным изделием;<br>
        <br>
        2. Совместимость данного изделия с изделиями и программными продуктами третьих сторон в части их совместимости,<br>
        конфигурирования систем и установки драйверов; Продавец оставляет за собой право при предъявлении претензий по гарантии<br>
        потребовать у Покупателя документы, подтверждающие легальность используемого программного обеспечения;<br>
        <br>
        3. Покупатель может самостоятельно устанавливать совместимое дополнительное оборудование, при этом он несет полную<br>
        ответственность за правильность его установки, использования и за последствия этих действий.<br>
        <br>
        4. В случаях не входящих в гарантийные обязательства Продавца, Покупатель по своему усмотрению вправе передать<br>
        оборудование на ремонт в сервисный центр на возмездной основе.<br>
        <br>
        5. При обнаружении исправности оборудования после диагностики, переданного в ремонт, Покупатель обязуется возместить<br>
        стоимость диагностики в соответствии с прайс-листом.<br>
        <br>
        <br>
        ВНИМАНИЕ!<br>
        Оговоренные выше возмещения по гарантийным обязательствам являются единственными и исключительными. Кроме<br>
        указанной выше ответственности, Продавец ни в коем случае не будет нести ответственности за потерю данных или за<br>
        прямые, специальные, предвидимые, косвенные (включая упущенную прибыль) или другие убытки, происходящие из условий<br>
        контрактов, гражданского права или вызванные другими причинами. В случае получения от покупателя гарантийного<br>
        изделия, не содержащего дефектов, декларируемых покупателем, компания оставляет за собой право взимать плату за<br>
        тестирование и сервисное обслуживание изделия согласно прейскуранту услуг сервисного центра.<br>
        Без подписи Покупателя и ответственного лица Продавца на гарантийном талоне, данный документ недействителен.<br>
        Ответственное лицо продавца: Покупатель (ФИО и подпись):<br>
        М.П. С правилами гарантийного обслуживания согласен, товар получен<br>
        исправным и без дефектов.<br>
        <br>
        Техническое описание и фотографии товара носят информативный характер и могу быть изменены без уведомления. Для получения информации и уточнении обращаться к менеджерам по продажам.</p>
    </div>
{% endblock %}
