{% extends 'base.html' %}


{% block content %}
<div class="login-register-area bg-gray pt-160 pb-160">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                	<div class="login-register-form">
																			<p class="m-auto p-2">
																				Ваш пароль был сброшен. Вы можете пойти дальше и <a href="{% url 'login' %}">войти в систему</a> прямо сейчас.
																			</p>
																			<p class="m-auto p-2"><a href="{% url 'main' %}">Вернуться на главную страницу</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>

{% endblock %}
