<div class="myaccount-tab-menu nav" role="tablist">
  <a href="{% url 'admin_base' %}">Главная</a>
  <a href="{% url 'next_prepared_products' %}">Товары на завтра</a>
  <a href="{% url 'admin_orders' %}">Заказы</a>
  <a href="{% url 'admin_realization_orders' %}">Заказы (Под реализацию)</a>
  <a href="{% url 'admin_refunds' %}">Возвраты</a>
  <a href="{% url 'admin_stocks' %}">Акции</a>
  <a href="{% url 'admin_products' %}">Товары</a>
  <a href="{% url 'admin_categories' %}">Категории</a>
  <a href="{% url 'admin_deliveryman' %}">Доставщики</a>
  <a href="{% url 'admin_shops' %}">Магазины</a>
  <a href="{% url 'admin_users' %}">Пользователи</a>
  <a href="{% url 'admin_shop_admins' %}">Администраторы магазинов</a>
  <a href="{% url 'admin_all_pay_inv' %}">Счета на оплату</a>
</div>

<div class="myaccount-tab-menu nav mt-30" role="tablist">
  <a href="{% url 'tech_card_detail' %}">Тех. карты</a>
  <a href="{% url 'ingredient_category_detail' %}">Категории ингредиентов</a>
  <a href="{% url 'ingredient_detail' %}">Ингредиенты</a>
</div>
