{% extends 'siteadmin/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Администрирование Baker Street
{% endblock %}

{% block content %}
<style media="screen">
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }

    td:nth-of-type(1):before {
      content: "Заказ №";
    }

    td:nth-of-type(2):before {
      content: "Магазин";
    }

    td:nth-of-type(3):before {
      content: "Имя";
    }

    td:nth-of-type(4):before {
      content: "Сумма";
    }

    td:nth-of-type(5):before {
      content: "Подробно";
    }

    td:nth-of-type(6):before {
      content: "Оплатил";
    }

    .dop td:nth-of-type(1):before {
      content: "Наименование";
    }

    .dop td:nth-of-type(2):before {
      content: "Цена";
    }

    .dop td:nth-of-type(3):before {
      content: "Кол-во";
    }

    .dop td:nth-of-type(4):before {
      content: "Общая цена";
    }
  }

  input {
    background: #eceff8;
    border: 2px solid #eceff8;
    height: 12.8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 10px;
    font-size: 14px;
    color: #737373;
    width: 12.8px;
  }
</style>
<div class="my-account-wrapper pt-200 pb-160">
  <div class="container">
    <div class="row pt-20">
      <div class="col-lg-12">
        <div class="myaccount-page-wrapper">
          <div class="row">
            <div class="col-lg-3 col-md-4">
              {% include "siteadmin/navbar.html" %}

            </div>
            <div class="col-lg-9 col-md-8">
              <div class="tab-content" id="myaccountContent">
                <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                  <div class="myaccount-content">
                    <div class="row">
                      <div class="col-md-12">
                        <h3 style="border-bottom: 0 !important;">Заказы магазина (Под реализацию)</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-12">
                          <table role="table">
                            <thead role="rowgroup">
                              <tr role="row">
                                <th role="columnheader">Заказ №</th>
                                <th role="columnheader">Магазин</th>
                                <th role="columnheader">Имя</th>
                                <th role="columnheader">Сумма</th>
                                <th role="columnheader">Подробно</th>
                                <th role="columnheader">Оплатил</th>
                              </tr>
                            </thead>
                            <tbody role="rowgroup">
                              {% for item in page_obj %}
                              <tr role="row">
                                <td role="cell">{{ item.id }}</td>
                                <td role="cell"><a href="{% url 'admin_shop_orders_detail' item.buyer_shop.id %}">{{ item.buyer_shop.title }}</a></td>
                                <td role="cell">{{ item.buyer_shop.kaspi_name }}</td>
                                <td role="cell">{{ item.total_price }}₸</td>
                                <td role="cell">
                                  <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ item.id }}">
                                    Перейти
                                  </button>
                                  <div class="modal fade" id="exampleModal-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Детализация заказа {{ item.id }}</h5>
                                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></button>
                                        </div>
                                        <div class="modal-body">
                                          <h4 class="text-center">Товары</h4>
                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Наименование</th>
                                                <th scope="col">Цена</th>
                                                <th scope="col">Кол-во</th>
                                                <th scope="col">Общая цена</th>
                                              </tr>
                                            </thead>
                                            <tbody class="dop">
                                              {% for item_p in order_products %}
                                              {% if item_p.order.id == item.id  %}
                                              <tr>
                                                <td>
                                                  {{ item_p.product.title }}
                                                </td>
                                                <td>
                                                  <strong>{{ item_p.product.price }}</strong>₸
                                                </td>
                                                <td>{{ item_p.qty }}</td>
                                                <td>{{ item_p.total_price }}₸</td>
                                              </tr>
                                              {% endif %}
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                          <div>
                                            <div class="container text-right">
                                              Итого: <strong>{{ item.total_price }}</strong>₸
                                            </div>
                                          </div>
                                          <hr>
                                          <h4 class="text-center">Дополнительная информация</h4>
                                          <div class="text-left">
                                            <p>Заказчик: <strong>{{ item.buyer_shop.title }}</strong></p>
                                            <p>Тип заказа: <strong>{{ item.get_buying_type_display }}</strong></p>
                                            <p>Оплата: <strong>{{ item.get_pay_display }}</strong></p>
                                            <p>Статус заказ: <strong>{{ item.get_status_display }}</strong></p>
                                            <p>Дата оформления: <strong>{{ item.created_at }}</strong></p>
                                            <p>Комментарий к заказу: <strong>{% if item.comment %}{{ item.comment }}{% else %}Нет{% endif %}</strong></p>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <a href="{% url 'delete_order' order_id=item.id url='admin_realization_orders' url_id=0 %}" onclick="return proverka();">
                                            <button type="button" class="btn btn-warning">Удалить</button>
                                          </a>
                                          <script type="text/javascript">
                                            function proverka() {
                                              if (confirm("Подтвердить")) {
                                                return true;
                                              } else {
                                                return false;
                                              }
                                            }
                                          </script>
                                          <a href="{% url 'admin_shop_invoice_pdf_2' id=item.id %}" target="_blank">
                                            <button type="button" class="btn btn-warning">Скачать 2</button>
                                          </a>
                                          <a href="{% url 'admin_shop_invoice_pdf' id=item.id %}" target="_blank">
                                            <button type="button" class="btn btn-warning">Скачать</button>
                                          </a>
                                          <a href="{% url 'admin_shop_invoice_edit_pdf' id=item.id%}" target="_blank">
                                            <button type="button" class="btn btn-warning">Редактировать</button>
                                          </a>
                                          <a href="{% url 'admin_shop_invoice' id=item.id %}" target="_blank">
                                            <button type="button" class="btn btn-warning">Смотреть</button>
                                          </a>
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td role="cell">
                                  {% if item.paid == False %}
                                  <input type="checkbox" id="checkbox{{ item.id }}">
                                  {% elif item.paid == True %}
                                  <input type="checkbox" id="checkbox{{ item.id }}" checked>
                                  {% endif %}
                                  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                                  <script type="text/javascript">
                                    $('#checkbox{{ item.id }}').on('click', function() {
                                      if ($(this).is(':checked')) {
                                        url = "{% url 'change_status_pay_admin' id=item.id status=1 url='admin_realization_orders' %}"
                                        document.location.href = url;
                                      } else {
                                        url = "{% url 'change_status_pay_admin' id=item.id status=0 url='admin_realization_orders' %}"
                                        document.location.href = url;
                                      }
                                    })
                                  </script>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>

                          <nav class="mt-20">
                            <ul class="pagination">

                              {% if page_obj.has_previous %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              {% else %}
                              <li class="disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              {% endif %}

                              {% for i in page_obj.paginator.page_range %}
                              {% if page_obj.number == i %}
                              <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                              {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5'  %}
                              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                              {% endfor %}

                              {% if page_obj.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                              {% else %}
                              <li class="disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                              <li class="disabled"><span>&raquo;</span></li>
                              {% endif %}
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
